.fondo{
    position: absolute;
    top: 65px;
    //: ;
    right: 10px;
    left: 10px;
    padding: 5px;
    z-index: 999;
}
.alto{
    height: 60px;
}
.img {
    height: 701px;
    width: 100%;
}
.logoFooter{
    width: 82px;
}
.img1{
    background-image: url('/assets/imagenes/foto6.jpg');
}
.img2{
    background-image: url('/assets/imagenes/foto2.jpg');
}
.img3{
    background-image: url('/assets/imagenes/foto3.jpg');
}
.img4{
    background-image: url('/assets/imagenes/foto4.jpg');
}
.img5{
    background-image: url('/assets/imagenes/foto5.jpg');
}